{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load has_group %}


{% block aside %}
  {% include "reparation/aside.html" %}        
{% endblock aside %}   


{% block content %}    
<section class="content-header">
  <h1>Réparations</h1>
  <ol class="breadcrumb">
     <a href="{% url 'reparation:reparation_creer' %}"><span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span>  Ajout d'une réparation</span></a>
   </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
          <table id="table1" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
              <tr bgcolor="#bee5eb">
                <th>Date début</th>
                <th>Date fin</th>
                <th>Type de réparation</th>
                <th>Véhicule</th>
                <th>Chauffeur</th>
                <th>Montant</th>
                <th>Km avant</th>
                <th>Fournisseur</th>
                <th><center>Actions</center></th>
              </tr>
            </thead>
            <tbody>
              {% for i in reparation_list %}
                <tr>
                  <td>{{ i.date_reparation_debut|date:"d M y" }}</td>
                  <td>{{ i.date_reparation_fin|date:"d M y" }}</td>
                  <td>{{ i.type_reparation }}</td>
                  <td>{{ i.vehicule.immatriculation }}</td>
                  <td>{{ i.vehicule.chauffeur_set.all.0 }}</td>
                  <td align="right">{{ i.montant|floatformat:"0" }}</td>
                  <td align="right">{{ i.kilometrage }} Km</td>
                  <td>{{ i.fournisseur }}</td>
                  <td>
                  <a href="{% url 'reparation:reparation_modifier' pk=i.id %}"><span class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>  Modifier</span></a>
                  {% if user.is_superuser %}
                  <button type="button"
                          class="btn btn-danger btn-sm js-delete-reparation" data-toggle="modal" data-target="#modal-reparation"
                          data-url="{% url 'reparation:reparation_delete' pk=i.id %}">
                    <span class="glyphicon glyphicon-trash"></span> Supprimer
                  </button>
                  {% endif %}
              	  </td>
                </tr>
              {% endfor %}    
            </tbody>
          </table>    
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-reparation">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<style type="text/css">
  th, td {
    white-space: nowrap;
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#table1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      "lengthMenu"  : [[15, 50, -1], [15, 50, "All"]],
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'scrollX'     : true,
      'scrollY'     : '400',
      'scrollCollapse' : true,  

      dom: 'Bfrtip',
            buttons: ['print', 'excel',

      ],

      "language": {
        "sProcessing": "Traitement en cours ...",
        "sLengthMenu": "Afficher _MENU_ lignes",
        "sZeroRecords": "Aucun résultat trouvé",
        "sEmptyTable": "Aucune donnée disponible",
        "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
        "sInfoEmpty": "Aucune ligne affichée",
        "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
        "sInfoPostFix": "",
        "sSearch": "Chercher:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Chargement...",
        "oPaginate": {
          "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
        "oAria": {
          "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      }
    }
  });
 });
</script>

<script type="text/javascript">

$(function () {
  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-reparation .modal-content").html("");
        //$("#modal-reparation").modal("show");
      },
      success: function (data) {
        $("#modal-reparation .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#reparation-table tbody").html(data.html_reparation_list);
          $("#modal-reparation").modal("hide");
        }
        else {
          $("#modal-reparation .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };
  /* Binding */
  // Delete reparation
  $("#table1").on("click", ".js-delete-reparation", loadForm);
  //$("#modal-reparation").on("submit", ".js-reparation-delete-form", saveForm);
});

</script>
{% endblock content %}