{% extends 'client/base.html' %}
{% load static %}

{% block javascript %}
  <script src="{% static 'client/js/clients.js' %}"></script>
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ clients.count }} Réparation(s)</h1>
  <p>
    <button type="button" class="btn btn-primary js-create-client" data-url="{% url 'client:client_create' %}" data-toggle="modal" data-target="#modal-client">
      <span class="glyphicon glyphicon-plus"></span>
      client
    </button>
  </p>
  <table class="table table-bordered table-striped" cellspacing="0" width="100%" id="client-table">
    <thead>
      <tr>
        <th>Raison sociale</th>
        <th>Adresse</th>
        <th>Boite Postale</th>
        <th>téléphone</th>
        <th>cellulaire</th>
        <th>registre commerce</th>
        <th><center>Actions</center></th>
      </tr>
    </thead>
    <tbody>
      {% include 'client/includes/partial_client_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="modal-client">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

<script src="{% static 'client/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'client/js/jquery.dataTables.min.js' %}"></script>

<style type="text/css">
  th, td {
    white-space: nowrap;
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#client-table').DataTable({
      'paging'      : true,
      'lengthChange': false,
      "lengthMenu"  : [[15, 50, -1], [15, 50, "All"]],
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'scrollX'     : true,
      'scrollY'     : '400',
      'scrollCollapse' : true,  

      dom: 'Bfrtip',
            buttons: ['print', 'excel', 'pdf', 'csv'

      ],

      "language": {
        "sProcessing": "Traitement en cours ...",
        "sLengthMenu": "Afficher _MENU_ lignes",
        "sZeroRecords": "Aucun résultat trouvé",
        "sEmptyTable": "Aucune donnée disponible",
        "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
        "sInfoEmpty": "Aucune ligne affichée",
        "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
        "sInfoPostFix": "",
        "sSearch": "Chercher:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Chargement...",
        "oPaginate": {
          "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
        "oAria": {
          "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      }
    }
  });
});    
</script>
{% endblock %}
