{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load has_group %}

<!-- POUR LA DATE */-->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block aside %}
  {% include "chauffeur/aside.html" %}        
{% endblock aside %}    


{% block content %}    
<section class="content-header">
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
  
  <h1>Modifier les informations du chauffeur {{ chauffeur }}</h1>
  <ol class="breadcrumb">
     <a href="{% url 'chauffeur:accueil' %}"><span class="btn btn-xs btn-primary">Retour</span></a>
   </ol>
</section>

<!-- Main content -->
<section class="content">
 <form method="post" action="{% url 'chauffeur:chauffeur_modifier' pk=chauffeur.id %}" enctype="multipart/form-data"> {% csrf_token %}    
   <div class="row">   
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
          <div class="form-row">
            <div class="form-group col-md-3 mb-0">
              {{ form.civilite|as_crispy_field }}
            </div>
            <div class="form-group col-md-9 mb-0">
              {{ form.nom|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
              {{ form.prenoms|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.date_naissance|as_crispy_field }}
            </div>            
            <div class="form-group col-md-6 mb-0">
              {{ form.lieu_naissance|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.matricule|as_crispy_field }}
            </div>            
            <div class="form-group col-md-6 mb-0">
              {{ form.type_chauffeur|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.statut|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.vehicule|as_crispy_field }}
            </div>

            <div class="form-group col-md-6 mb-0">
              {{ form.cellulaire|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.cellulaire2|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.photo|as_crispy_field }}
            </div> 
            <div class="form-group col-md-12 mb-0">
              {{ form.contact|as_crispy_field }}
            </div>   
          </div>
        </div>    
      </div>
     </div>     

    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
          <div class="form-row">
            <div class="form-group col-md-4 mb-0">
              {{ form.type_contrat|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
              {{ form.date_entree|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
              {{ form.date_sortie|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.nature_piece|as_crispy_field }}
            </div>            
            <div class="form-group col-md-6 mb-0">
              {{ form.piece_identite|as_crispy_field }}
            </div>            
            <div class="form-group col-md-6 mb-0">
              {{ form.piece_date_etablissement|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.piece_date_expiration|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.permis_categorie|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
              {{ form.permis_numero|as_crispy_field }}
            </div>    
            <div class="form-group col-md-6 mb-0">
              {{ form.permis_date_etablissement|as_crispy_field }}
            </div>    
             <div class="form-group col-md-6 mb-0">
              {{ form.permis_date_echeance|as_crispy_field }}
            </div>             
            <div class="form-group col-md-12 mb-0">
              {{ form.numero_carte_acces|as_crispy_field }}
            </div>    
            <div class="form-group col-md-6 mb-0">
              {{ form.photo_piece|as_crispy_field }}
            </div>    
            <div class="form-group col-md-6 mb-0">
              {{ form.photo_permis|as_crispy_field }}
            </div> 
          </div>
        </div>    
      </div>
     </div>     

    </div>
    <button class="btn btn-primary" type="submit" name="submit" value = "enregistrer">Enregistrer</button>
    
    <a href="{% url 'chauffeur:imprimer_fiche' pk=chauffeur.id %}" target="_blank"><span class="btn btn-primary">Imprimer fiche</span></a> 

    <a href="{% url 'chauffeur:accueil' %}"><span class="btn btn-primary pull-right">Annuler</span></a> 
  </form>
</section>
<!-- POUR LES DATES -->
<script src="{% static 'commande/css/bootstrap.min.css' %}"></script>
<script src="{% static 'commande/js/bootstrap.min.js' %}"></script>
{% endblock content %}

{% comment %}
<!--
<div class="form-group col-md-6 mb-0">
  {{ form.date_naissance|as_crispy_field }}
</div> 
<div class="form-group col-md-6 mb-0">
  {{ form.lieu_naissance|as_crispy_field }}
</div> -->

{% endcomment %}