{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block aside %}
  {% include "alerte/aside.html" %}        
{% endblock aside %}    

{% block footer %}
  {#% include "alerte/footer.html" %#}        
{% endblock footer %}   

{% block content %}    
<section class="content-header">
  <h1>Alertes</h1>
  <ol class="breadcrumb">
    <a href="{% url 'alerte:accueil' %}"><span class="btn btn-xs btn-primary">Retour aux alertes</span></a>
   </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><span class="label label-primary"> Liste des alertes <span class="badge">{{ formset|length|sub:3 }}</span></span></h3>
        </div>
       <div class="box-body">  
       <form class="form" id="signup_form" method="post" action="{% url 'alerte:alerte_parametre' %}"> {% csrf_token %} 
        {{ formset.non_form_errors.as_ul }}
          {{ formset.management_form }}
           <table id="table1" class="table table-bordered table-striped" cellspacing="10" style="width:100%">
              {% for form in formset.forms %}
                {% if forloop.first %}
                <thead><tr bgcolor="#bee5eb">
                  <th>Type d'alerte</th>
                  <th>Delai en jours</th>
                </tr></thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %}">
                {% for field in form.visible_fields %}
                  <td>
                  {# Include the hidden fields in the form #}
                  {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                  {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field|as_crispy_field }}
                  </td>
                {% endfor %}
                </tr>
              {% endfor %}
            </table>

           <button class="btn btn-primary" type="submit" name="submit" value = "enregistrer">Enregistrer</button>
          </form>
        </div> 
        </div> 
     </div>
  </div>
</section>  

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<style type="text/css">
  th, td {
    white-space: nowrap;
}
</style>

<script>
  $(function () {
    $('#table1').DataTable({
      'paging'      : false,
      'lengthChange': true,
      "lengthMenu"  : [[30, -1], [30, "All"]],
      'searching'   : false,
      'ordering'    : false,
      'info'        : false,
      'autoWidth'   : true,
      'scrollY'     : 600,
      'scrollCollapse' : true,
    })
  })
</script>
{% endblock content %}