{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load has_group %}

{% block header %}
  {% include "facturation/header.html" %}        
{% endblock header %}   

{% block aside %}
  {% include "facturation/aside.html" %}        
{% endblock aside %}    

{% block footer %}
  {#% include "facturation/footer.html" %#}        
{% endblock footer %} 

{% block content %}    
<section class="content-header">
  <h1>Impression de la facture</h1>
  <ol class="breadcrumb">
     <a href="{% url 'facturation:facturation_creer' %}"><span class="btn btn-xs btn-primary">Ajout d'une facturation</span></a>
   </ol>
</section>
<section class="content">
  
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"><b>{{ facturation.commande.ordretransport_set.all|length }} OT</b></div>
        <div class="box-body">
          <table id="table1" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
              <tr bgcolor="#E67E30">
                <th>Date</th>    
                <th>N° facture</th>
                <th>Commandes</th>
                <th>Montant</th>
                <th>OT</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ facturation.date_facture|date:"d M y" }}</td>
                <td>{{ facturation.etat_facture }}</td>
                <td>{{ facturation.commande }}</td>
                <td align="right">{{ facturation.montant|floatformat:"0" }}</td>
                <td>{% if facturation.commande.ordretransport_set.all %} {{ facturation.commande.ordretransport_set.all|length }} {% endif %}</td>
              </tr> 
            </tbody>
          </table>    
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"><b>ENLEVEMENTS</b></div>
        <div class="box-body">
          <table id="table2" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
              <tr bgcolor="#E67E30">
                <th>Etats</th>
                <th>Date</th>    
                <th>Trajets</th>
                <th>Chargement</th>
                <th>Déchargement</th>
                <th>Poids vide</th>
                <th>Poids chargé</th>
                <th>Prix unitaire</th>
                <th>Montant</th>
              </tr>
            </thead>
            <tbody>
              {% for i in facturation.commande.ordretransport_set.all %}
                <tr>
                  <td><b>{{ i }}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                <tr>
                  <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
                {% for j in i.enlevement_set.all %}
                  <tr>
                    <td>{{j.etat_enlevement}}</td>
                    <td>{{j.date_enlevement|date:"d M y"}}</td>
                    <td>{{j.trajet}}</td>
                    <td>{{ j.lieu_chargement }}</td>
                    <td>{{ j.lieu_dechargement }}</td>
                    <td align="right">{{j.poids_vide}}</td>
                    <td align="right">{{j.poids_charge}}</td>
                    <td align="right">{{j.cout_unitaire}}</td>
                    <td align="right">{{ j.poids_charge|sub:j.poids_vide|mul:j.cout_unitaire|floatformat:'0' }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}    
            </tbody>
          </table>    
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"><b>PRE-FINANCEMENTS</b></div>
        <div class="box-body">
          <table id="table3" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>            
              <tr bgcolor="#E67E30">
                <th>OT</th>    
                <th>Date</th>
                <th>N° Bon</th>
                <th>Type</th>
                <th>Véhicule</th>
                <th>Chauffeur</th>
                <th>Imputation</th>
                <th>Km</th>
                <th>Quantité</th>
                <th>Montant</th>
                <th>Station</th>              
              </tr>
            </thead>
            <tbody>
              {% for i in facturation.commande.ordretransport_set.all %}
                {% for j in i.carburant_set.all %}
                  {% if j.imputation == 'Préfinancement' %}
                    <tr>
                      <td>{{ i.numero_ot }}</td>
                      <td>{{ j.date_prise|date:"d M y" }}</td>
                      <td>{{ j.numero_bon }}</td>
                      <td>{{ j.type_carburant }}</td>
                      <td>{{ j.vehicule.immatriculation }}</td>
                      <td>{{ j.chauffeur }}</td>
                      <td>{{ j.imputation }}</td>
                      <td align="right">{{ j.kilometrage }}</td>
                      <td align="right">{{ j.quantite }}</td>
                      <td align="right">{{ j.montant }}</td>
                      <td>{{ j.station }}</td>
                    </tr>
                  {% endif %}  
                {% endfor %}
              {% endfor %}    
            </tbody>
          </table>    
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<style type="text/css">
  th, td {
    white-space: nowrap;
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('#table1').DataTable({
      'paging'      : true,
      'lengthChange': false,
      "lengthMenu"  : [[15, 50, -1], [15, 50, "All"]],
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'scrollX'     : true,
      'scrollY'     : '400',
      'scrollCollapse' : true,  

      dom: 'Bfrtip',
            buttons: ['print', 'excel', 'pdf', 'csv'

      ],

      "language": {
        "sProcessing": "Traitement en cours ...",
        "sLengthMenu": "Afficher _MENU_ lignes",
        "sZeroRecords": "Aucun résultat trouvé",
        "sEmptyTable": "Aucune donnée disponible",
        "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
        "sInfoEmpty": "Aucune ligne affichée",
        "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
        "sInfoPostFix": "",
        "sSearch": "Chercher:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Chargement...",
        "oPaginate": {
          "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
        "oAria": {
          "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      }
    }
  });

    $('#table2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      "lengthMenu"  : [[15, 50, -1], [15, 50, "All"]],
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'scrollX'     : true,
      'scrollY'     : '400',
      'scrollCollapse' : true,  

      dom: 'Bfrtip',
            buttons: ['print', 'excel', 'pdf', 'csv'

      ],

      "language": {
        "sProcessing": "Traitement en cours ...",
        "sLengthMenu": "Afficher _MENU_ lignes",
        "sZeroRecords": "Aucun résultat trouvé",
        "sEmptyTable": "Aucune donnée disponible",
        "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
        "sInfoEmpty": "Aucune ligne affichée",
        "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
        "sInfoPostFix": "",
        "sSearch": "Chercher:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Chargement...",
        "oPaginate": {
          "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
        "oAria": {
          "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      }
    }
  });

    $('#table3').DataTable({
      'paging'      : true,
      'lengthChange': false,
      "lengthMenu"  : [[15, 50, -1], [15, 50, "All"]],
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'scrollX'     : true,
      'scrollY'     : '400',
      'scrollCollapse' : true,  

      dom: 'Bfrtip',
            buttons: ['print', 'excel', 'pdf', 'csv'

      ],

      "language": {
        "sProcessing": "Traitement en cours ...",
        "sLengthMenu": "Afficher _MENU_ lignes",
        "sZeroRecords": "Aucun résultat trouvé",
        "sEmptyTable": "Aucune donnée disponible",
        "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
        "sInfoEmpty": "Aucune ligne affichée",
        "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
        "sInfoPostFix": "",
        "sSearch": "Chercher:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Chargement...",
        "oPaginate": {
          "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
      },
        "oAria": {
          "sSortAscending": ": Trier par ordre croissant", "sSortDescending": ": Trier par ordre décroissant"
      }
    }
  });


 });
</script>

<script type="text/javascript">


</script>
{% endblock content %}

