<form method="post" action="{% url 'reparation:reparation_update' form.instance.pk %}" class="js-reparation-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modification de la prise du reparation</h4>
  </div>
  <div class="modal-body">
    {% include 'reparation/includes/partial_reparation_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Enregistrer</button>   
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>
</form>