{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load has_group %}

{% block aside %}  
   {% include "tableaubord/aside.html" %}
{% endblock aside %}    

{% block footer %}     
{% endblock footer %} 

{% block content %}    
<section class="content-header">
  <h1>Tableau de bord des entretiens</h1>
  <ol class="breadcrumb">
   </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
   
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">CA HT TOTAL</span>
            <span class="info-box-number">
              {{ chiffre_affaire_total|floatformat:"0" }}
              <small><br>Moyenne</small>
              {{ chiffre_affaire_total|div:30|floatformat:"0" }}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Poids net total</span>
            <span class="info-box-number">
              {{ poids_net_total|floatformat:"3" }}
              <small>Tonne</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>


      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fas fa-gas-pump"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Conso. carburant</span>
            <span class="info-box-number">
              {{quantite_total|floatformat:"2"}}
              <small>Litre</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fas fa-bus"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total voyages</span>
            <span class="info-box-number">
              {{ voyage_total|floatformat:"0" }}
              <small></small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

  </div>

  <div class="row">

    <div class="col-lg-6">
      <div class="box box-success">
        <div class="box-header"></div>
        <div class="box-body">
        <div id="poids_net_client">
          
        </div>
        </div>
      </div> 
    </div>

    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
        <div id="meilleurs_produits">
          
        </div>
        </div>
      </div> 
    </div>

    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
        <div id="meilleurs_chauffeurs">
          
        </div>
        </div>
      </div> 
    </div>


    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
        <div id="vehicule_carburant_plus">
          
        </div>
        </div>
      </div> 
    </div>

    <div class="col-lg-6">
      <div class="box box-primary">
        <div class="box-header"></div>
        <div class="box-body">
        <div id="chauffeur_carburant_moins">
          
        </div>
        </div>
      </div> 
    </div>


    <div class="chart-container">
      {{ report.pie_chart }}
    </div>


  </div>
         




<!-- OPTIONAL SCRIPTS -->
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('poids_net_client', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Poids net par client'
      },
      xAxis: {
          categories: {{ cles|safe }}
      },
      series: [{
          name: 'Clients',
          data: {{ valeurs|safe }}
      }],
  });


  Highcharts.chart('meilleurs_produits', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Meilleurs produits en tonnage'
      },
      xAxis: {
          categories: {{ cles_marchandise|safe }}
      },
      series: [{
          name: 'Produits',
          data: {{ valeurs_marchandise|safe }}
      }],
  });


  Highcharts.chart('meilleurs_chauffeurs', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Meilleurs chauffeurs en tonnage'
      },
      xAxis: {
          categories: {{ cles_chauffeur|safe }}
      },
      series: [{
          name: 'chauffeurs',
          data: {{ valeurs_chauffeur|safe }}
      }],
  });


  Highcharts.chart('vehicule_carburant_plus', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Véhicules ayant consommés plus de carburant'
      },
      xAxis: {
          categories: {{ cles_vehicule_carburant_plus|safe }}
      },
      series: [{
          name: 'vehicules',
          data: {{ valeurs_vehicule_carburant_plus|safe }}
      }],
  });


  Highcharts.chart('chauffeur_carburant_moins', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Chauffeurs ayant consommés moins de carburant'
      },
      xAxis: {
          categories: {{ cles_chauffeur_carburant_moins|safe }}
      },
      series: [{
          name: 'Chauffeurs',
          data: {{ valeurs_chauffeur_carburant_moins|safe }}
      }],
  });



  Highcharts.chart('containermmmmm', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Poids net par client'
      },
      xAxis: {
          categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania']
      },
      series: [{
          name: 'Year 1800',
          data: [107, 31, 635, 203, 2]
      }, {
          name: 'Year 1900',
          data: [133, 156, 947, 408, 6]
      }, {
          name: 'Year 2012',
          data: [1052, 954, 4250, 740, 38]
      }]
  });
</script>

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
</section>
{% endblock content %}