{% load static %}

<form method="post" action="{% url 'ordretransport:ordretransport_delete' ordretransport.id %}" class="js-ordretransport-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Suppression d'un OT</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Voulez-vous supprimer cet OT ?<strong></strong></p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">Supprimer</button>    
    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
  </div>
</form>


